
header {
    background-color: bisque;
    color: black;
    border: 5px solid black ;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    font-family: 'Simonetta', cursive;
}
nav ul{
    float: left;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    
}

body {
    background-color: cornsilk ;
}

p {
    font-size: 25px;
    padding: 10px;
    font-family: 'Barlow', sans-serif;
}
h3 {
    background-color: rgb(248, 216, 177);
    font-weight: bold;
    margin: 10px;
    padding: 8px;
    display: inline-block;
    font-family: 'Simonetta', cursive;
    border: 2px dashed black;
}

ul {
    padding-left: 30px;
    font-size: 18px;
    list-style-type: circle;
    font-family: 'Barlow', sans-serif;
}
h4 {
    background-color:  rgb(248, 216, 177);
    display: inline-block;
    font-weight: bold;
    margin: 10px; 
    padding: 8px; 
    font-family: 'Simonetta', cursive;
    border: 2px dashed black;


                     
}

ol {
    list-style-type: decimal;
    padding-left: 30px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

footer {
  background-color: bisque;
  text-align: center;
  margin: 10px;
}
footer p {
    font-size: 15px;
}